
<div class="form">
    <%= simple_form_for(@relocation) do |f| %>
    <%= f.error_notification %>

    <div class="date-volume field">
      <%= f.input :date %>
      <%= f.input :volume %>
    </div>

  <div class="address">
      <div class="loading-address">
        <%= f.fields_for :locations do |location_form| %>
        <%= location_form.input :address, label: 'Adresse de départ', placeholder: 'Entrer votre adresse de chargement' %>
        <%= location_form.input :floor_number, label: "Numéro d'étage" , placeholder: "Entrer votre Numéro d'étage" %>
        <%= location_form.input :portage_distance, label: "Distance de portage" , placeholder: "Entrer la distance entre la maison et le camion" %>
        <div class="elevator">
          <%= location_form.input :elevator, as: :select, label: "Ascenseur" , placeholder: "existe t-il un asceur conforme" %>
          <%= location_form.input :furniture_elevator, as: :select, label: "Monte-meubles" , placeholder: "Votre déménagement nécessite t'il un Monte-meubles " %>
        </div>
             <% end %>
      </div>

      <div class="delivery-address">
        <%= f.fields_for :locations do |location_form| %>
        <%= location_form.input :address, label: "Adresse d'Arrivée" , placeholder: "Entrer votre adresse de déchargement" %>
        <%= location_form.input :floor_number, label: "Numéro d'étage" , placeholder: "Entrer votre Numéro d'étage" %>
        <%= location_form.input :portage_distance, label: "Distance de portage" , placeholder: "Entrer la distance entre la maison et le camion" %>
        <div class="elevator">
          <%= location_form.input :elevator, as: :select, label: "Ascenseur" , placeholder: "existe t-il un asceur conforme" %>
          <%= location_form.input :furniture_elevator, as: :select, label: "Monte-meubles" , placeholder: "Votre déménagement nécessite t'il un Monte-meubles " %>
        </div>
             <% end %>
      </div>
  </div>

    <div class="button">
      <%= f.button :submit, "Estimer" %>
    </div>
    <% end %>
</div>

