<p id="notice"><%= notice %></p>

<h1>Relocations</h1>

<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Volume</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @relocations.each do |relocation| %>
      <tr>
        <td><%= relocation.date %></td>
        <td><%= relocation.volume %></td>
        <td><%= link_to 'Show', relocation %></td>
        <td><%= link_to 'Edit', edit_relocation_path(relocation) %></td>
        <td><%= link_to 'Destroy', relocation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Relocation', new_relocation_path %>
