<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @relocation.date %>
</p>

<p>
  <strong>Volume:</strong>
  <%= @relocation.volume %>
</p>

<%= link_to 'Retour', new_relocation_path %>
<%= link_to 'Ajuster', edit_relocation_path(@relocation) %> |

